:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  min-height: 100vh;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

note-item {
  display: block;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  height: full;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: gainsboro;
}

@media (max-width: 600px) {
  .notes-grid {
    grid-template-columns: 1fr;
  }
}

#search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

#search-input:focus {
  border-color: #007bff;
  outline: none;
}

#search-input::placeholder {
  color: #aaa;
  font-style: italic;
}
